# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Application files
users.db
static/qr_*.png

घिवली 9घरपट्टी  new - Copy.csv

test.py

static/qr_*.png
static/user_payments/